@import 'variables.scss';
@import 'visualizer.scss';
@import 'limiter.scss';

* {
  box-sizing: border-box;
}

html, body, #app, .container {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $color-black;
  padding: 0 40px;

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

.visual-box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 250px;
}

.mute-button {
  width: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  &_muted {
    background-color: $color-red;
  }

  &_unmuted {
    background-color: $color-green;
  }
}

.start-button {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
  color: $color-white;
  border: 5px solid;
  border-color: $color-white;
  border-radius: 10px;
  transition: color 0.3s, border-color 0.3s;
  cursor: pointer;

  &:hover {
    color: $color-green;
    border-color: $color-green;
  }
}